APP_DEBUG=false

DB_HOST=localhost
DB_PORT=5432
DB_NAME=mapapp
DB_USER=changeme
DB_PASS=changeme

# do this:
# php -r "echo bin2hex(random_bytes(64)), PHP_EOL;"
# and paste in JWT_SECRET=<paste_here>
JWT_SECRET=
