html,
body {
  margin: 0;
  height: 100%;
}

#authView {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

#authView form {
  width: 100%;
  max-width: 24rem;
}

#mapContainer {
  position: absolute;
  inset: 0;
}

#mapCustomControls {
  padding: 5px;
  background-color: #fff;
  border-radius: 5px;
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
}

/* restore some of the MapLibre's design overriden by Pico's global styling */
.maplibregl-popup {
  color: black;
}

.maplibregl-popup-close-button {
  color: black;
  padding: 0px 5px;
}

.maplibregl-popup-close-button:focus {
  box-shadow: none;
  outline: none;
}

.maplibregl-popup-close-button:focus-visible {
  outline: 2px solid lightblue;
  outline-offset: -2px;
}

.maplibregl-marker {
  background: none;
  border-radius: 0;
  padding: 0;
  min-width: 0;
  min-height: 0;
  border: none;
}